body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #4682b4;
}
.kelvin, .fahrenheit {
    border: 1px solid #4682b4;
    padding: 20px;
    margin: 2vw 30vw;
    border-radius: 10px;
    background-color: #e6f7ff;
}
.text {
    font-weight: bold;
}
#result-k, #result-f {
    font-size: 1.5em;
    color: #ff4500;
}

input, button {
    padding: 10px;
    font-size: 1em;
    margin: 10px;
}

input {
    width: 290px;
}